@charset "utf-8";

/* default setting */

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 500;
	src: url(../font/NanumGothic-Bold.eot);
	src: local('☺'),
	url(../font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
	url(../font/NanumGothic-Bold.woff2) format('woff2'),
	url(../font/NanumGothic-Bold.woff) format('woff'),
	url(../font/NanumGothic-Bold.ttf) format('truetype');
}

body {font-family:'나눔고딕','Nanum Gothic','돋움',Dotum,Helvetica,AppleGothic,Sans-serif;width:100%;height:100%;color:#333;font-size:12px}
div, p, input, select, label, button,table, a, select, textarea {font-family:'나눔고딕','Nanum Gothic','돋움',Dotum,Helvetica,AppleGothic,Sans-serif;font-size:12px;}
ul,li{list-style:none;padding:0;margin:0}
label {padding:0}
a{font-family:'나눔고딕','Nanum Gothic','돋움',Dotum,Helvetica,AppleGothic,Sans-serif !important;}




/*margin*/
.ml0 {margin-left:0px !important;}
.ml5 {margin-left:5px !important;}
.ml7 {margin-left:7px !important;}
.ml10 {margin-left:10px !important;}
.ml13 {margin-left:13px !important;}
.ml14 {margin-left:14px !important;}
.ml15 {margin-left:15px !important;}
.ml17 {margin-left:17px !important;}
.ml18 {margin-left:18px !important;}
.ml20 {margin-left:20px !important;}
.ml21 {margin-left:21px !important;}
.ml22 {margin-left:22px !important;}
.ml23 {margin-left:23px !important;}
.ml24 {margin-left:24px !important;}
.ml25 {margin-left:25px !important;}
.ml27 {margin-left:27px !important;}
.ml28 {margin-left:28px !important;}
.ml30 {margin-left:30px !important;}
.ml31 {margin-left:31px !important;}
.ml32 {margin-left:32px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}
.ml42 {margin-left:42px !important;}
.ml45 {margin-left:45px !important;}
.ml50 {margin-left:50px !important;}
.ml55 {margin-left:55px !important;}
.ml58 {margin-left:58px !important;}
.ml80 {margin-left:80px !important;}
.ml100 {margin-left:100px !important;}
.ml115 {margin-left:115px !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr40 {margin-right:40px !important;}
.mr70 {margin-right:70px !important;}
.mr107 {margin-right:107px !important;}
.mr120 {margin-right:120px !important;}
.mr132 {margin-right:132px !important;}
.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
.mb40 {margin-bottom:40px !important;}
.mb80 {margin-bottom:80px !important;}
.mt0 {margin-top:0px !important;}
.mt2 {margin-top:2px !important;}
.mt5 {margin-top:5px !important;}
.mt7 {margin-top:7px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt24 {margin-top:24px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt48 {margin-top:48px !important;}
.mt50 {margin-top:50px !important;}

/*padding*/
.p10 {padding: 10px !important}
.pl10 {padding-left:10px !important}
.pb60{padding-bottom:60px !important}

/*width*/
.w20 {width:20px !important}
.w30 {width:30px !important}
.w40 {width:40px !important}
.w44 {width:44px !important}
.w45 {width:45px !important}
.w50 {width:50px !important}
.w55 {width:55px !important}
.w60 {width:60px !important}
.w65 {width:65px !important}
.w70 {width:70px !important}
.w75 {width:75px !important}
.w80 {width:80px !important}
.w85 {width:85px !important}
.w90 {width:90px !important}
.w95 {width:95px !important}
.w100 {width:100px !important}
.w105 {width:105px !important}
.w130 {width:130px !important}
.w135 {width:135px !important}
.w115 {width:115px !important}
.w180 {width:180px !important}
.w306 {width:306px !important}
.w310 {width:310px !important}
.w400 {width:400px !important}
.w482 {width:481px !important}
.w670 {width:670px !important}
.w700 {width:700px !important}
.w920 {width:920px;}

/*height*/
.height60 {height:60px;}
.height100 {height:100px;}
.height220 {height:220px;}
.height230 {height:230px;}
.height250 {height:250px;}

/*float*/
.conL {float:left}
.conR {float:right !important;}

/*align*/
.txt-c {text-align:center !important}
.txt-l {text-align:left !important}
.txt-r {text-align:right !important}
.v-top {vertical-align:top !important}

/*overflow*/
.overflowh {overflow-x:hidden;overflow-y:auto;}

/* display */
.inline-block{display:inline-block}

/*font size*/
.fs32{font-size:32px !important}